.remove-btn {
  margin-right: 0.5rem;
  float: bottom;
}

.order-items {
  margin: 0.5rem;
  float: bottom;
}

.item-name {
  float: top;
}

.item-price-lab {
  float: right;
}

.col-item {
  margin: 0.5rem;
}

.row-item {
  margin-top: 1.5rem;
  float: bottom;
}

label {
  margin: 0.5rem;
}

button {
  margin: 0.5rem;
  float: bottom;
}

.disable-element {
  pointer-events: none;
  opacity: 0.6;
}

.btn-small {
  font-size: 0.9rem;
  text-decoration: none;
  width: 1.5rem;
  height: 1.5rem;
  float: bottom;
  text-align: center;
  padding: 0px;
  background-color: #7681b9;
  border-color: #7681b9;
  /* background-color: #7681b9;  */
}

.btn-remove {
  font-size: 0.9rem;
  text-decoration: none;
  width: rem;
  height: 2rem;
  float: bottom;
  text-align: center;
  background-color: #ff5733;
  border-color: #f1948a;
  /* background-color: #7681b9;  */
}

.btn-create {
  font-size: 0.9rem;
  text-decoration: none;
  width: rem;
  height: 2rem;
  float: bottom;
  text-align: center;
  background-color: #a1c2bc;
  border-color: #a1c2bc;
  /* background-color: #7681b9;  */
}

.btn-info {
  font-size: 0.9rem;
  text-decoration: none;
  width: rem;
  height: 2rem;
  float: bottom;
  text-align: center;
  background-color: #a1c2bc;
  border-color: #a1c2bc;
}

.login-container {
  background-color: black;
}
