.remove-btn {
  margin-right: 0.5rem;
  float: bottom;
}

.order-items {
  margin: 0.5rem;
  float: bottom;
}

.item-name {
  float: top;
}

.item-price-lab {
  float: right;
}

.col-item {
  margin: 0.5rem;
}

.row-item {
  margin-top: 1.5rem;
  float: bottom;
}

label {
  margin: 0.5rem;
}

button {
  margin: 0.5rem;
  float: bottom;
}

.disable-element {
  pointer-events: none;
  opacity: 0.4;
}

.btn-small {
  font-size: 0.9rem;
  text-decoration: none;
  width: 2rem;
  height: 2rem;
  float: bottom;
  text-align: center;
  /* background-color: #7681b9;  */
}

.btn-remove {
  font-size: 0.9rem;
  text-decoration: none;
  width: rem;
  height: 2rem;
  float: bottom;
  text-align: center;
  background-color: #ff5733;
  border-color: #ff5733;
  /* background-color: #7681b9;  */
}

.btn-create {
  font-size: 0.9rem;
  text-decoration: none;
  width: rem;
  height: 2rem;
  float: bottom;
  text-align: center;
  background-color: #48c9b0;
  border-color: #48c9b0;
  /* background-color: #7681b9;  */
}

.btn-info {
  font-size: 0.9rem;
  text-decoration: none;
  width: rem;
  height: 2rem;
  float: bottom;
  text-align: center;
  background-color: #7681b9;
  border-color: #7681b9;
}
